service cloud.firestore {
  match /databases/{database}/documents {

    // 認証
    function authenticate() {
      return request.auth != null;
    }

    // 認可
    function authorize(uid) {
      return authenticate() && request.auth.uid == uid;
    }

    // ユーザEntityのスキーマを検証
    function verifyUser(data) {
      return data != null
        && data.get("displayName", null) is string
        && data.get("photoUrl", null) is string
        && data.get("sheetCount", null) is number
        && data.get("bingoCount", null) is number;
    }

    // 抽選番号Entityのスキーマを検証
    function verifyLotteryNumber(data) {
      return data != null 
        && data.get("number", null) is number 
        && data.get("gotAt", request.time) is timestamp;
    }

    // ビンゴシートEntityのスキーマを検証
    function verifyBingoSheet(data) {
      return data != null
        && data.get("createdAt", null) is timestamp
        && data.get("sheet", null) is list;
    }

    // ユーザ固有のコレクション
    match /users/{uid} {
      allow read: if authorize(uid);
      allow create, update: if authorize(uid) && verifyUser(request.resource.data);

      // ユーザ以下の抽選番号ログのコレクション
      match /lotteryLogs/{docId} {
        allow read: if authorize(uid);
        allow create, update: if authorize(uid) && verifyLotteryNumber(request.resource.data);
      }

      // ユーザ以下のビンゴシートのコレクション
      match /sheets/{docId} {
        allow read: if authorize(uid);
        allow create, update: if authorize(uid) && verifyBingoSheet(request.resource.data);
      }
    }
  }
}
